@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}
.pb_ml_0{
    margin-bottom: 0;
    padding-left: 0;
}
.max-w-1140{
    max-width: 1140px;
}
.bg_img{
    background-image: url(../images/header-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-imag_2{
     background: var(--bg-image);
    background-image: url(../images/bg-image2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pt-130{
    padding-top: 130px;
}
 
.gap-4{
    gap: 4.43px;
}
.pt-29{
    padding-top: 29px;
}
.pb-30{
    padding-bottom: 30px;
}


.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1.5px;
    border-radius: 2px;
    background-color: var(--white);
    transition: all 300ms linear;
}

.underline:hover::after {
    width: 100%;
}

.underline_2 {
    position: relative;
}

.underline_2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    border-radius: 1px;
    background-color: var(--white);
    transition: all 300ms linear;
}

.underline_2:hover::after {
    width: 100%;
}
.gap-10{
    gap: 10px;
}
.gap-32{
    gap: 32px;
}
.gap-150{
    gap: 150px;
}
.btn_1{
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
padding: 14px 32px;
border-radius:  60px;
transition: all 300ms linear;
border: 0;
}
.btn_1:hover{
    box-shadow: 0px 0px 20px 0px var(--blue);
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
}
.pt-140{
    padding-top: 140px;
}
.header_box{
    max-width: 930px;
    border: 1px solid var(--border);
    padding: 20px 40px 24px 40px;
    border-radius: 16px;
    width: 100%;
    background: var(--box-color);
}
.tokenized{
    max-width: 889px;
}
.gap-20{
gap: 20px;
}
.padding-4{
    padding: 4px;
}
.pt-29{
    padding-top: 29px;
}
.going_to{
    /* max-width: 452px; */
    /* width: 100px; */
    border-radius:  8px;
    border: 1px solid var(--border-2);
    background: var(--bg-color);
    padding: 12.09px 0 11.91px 10px; 
}
.transition_2{
    transform: rotate(180deg);
}
.cursor{
    cursor: pointer;
}
.gap-12{
    gap: 12px;
}
.check_in{
    /* max-width: 180px; */
    border-radius:  8px;
    border: 1px solid var(--border-2);
    background: var(--bg-color);
    padding: 5px 7px 4px 10px; 
}
.gap-10{
    gap: 10px;
}
.mt-10{
    margin-top: 10px;
}
 .gap-30{
    gap: 30px;
 }
.pt-10{
    padding-top: 10px;
}
.search_btn{
    max-width: 122px;
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    padding: 14px 32px;
    border-radius:  60px;
    transition: all 300ms linear;
    border: 0;
    }
.pt-30{
    padding-top: 30px;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-65{
    padding-top: 65px;
}
/* section22222 *//* section *//* section *//* section *//* section *//* section */
.bg-color_2{
    background: var(--blue2);
}
.mt--2{
    margin-top: -2px;
}
.para_1{
    max-width:  509px;
}
.op-80{
    opacity: 80% ;
}
.pt-16{
    padding-top: 16px;
}
.pt-20{
    padding-top: 20px;
}
.btn_get{
    max-width: 167px;
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    padding: 14px 32px;
    border-radius:  60px;
    transition: all 300ms linear;
    border: 0;

}
.max-image{
    max-width:569px;
}
.mt-40{
    margin-top: 40px;
}
.pt-110{
    padding-top: 110px;
}
.pb-86{
    padding-bottom: 86px;
}
.elips_1{
    top: -60%;
    z-index: 0;
    left: 0;
}
.star_elips{
    top: -16%;
    right: 0;
    z-index: 0;
}
.elips_2{
    bottom: -50%;
    right: 0;
    z-index: 2;
}
.pt-86{
    padding-top: 86px;
}
.mt-22{
    margin-top: 22px;
}
.pt-106{
    padding-top: 106px;
}
.hover_button{
    background: #01010140;
    padding: 10px 28px;
    border-radius:  42px;
    border: 0;
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: all 400ms linear;
}
.border_radius{
    border-radius: 13px !important;
    transition: all 400ms linear;
}
.button-hover{
    top: 12px;
    left: 12px;
}
.img_1:hover .hover_button{
opacity: 1;
}
.img_1:hover .image-zoom{
    transform: scale(1.2);
    transition: all 400ms linear;
}
.pt-160{
    padding-top: 160px;
}
.card_1{
    /* max-width:  367px; */
    border-radius:  13px;
    background: var(--blue3);
    padding-bottom: 21px;
}
.border_r{
    border-radius: 13px 13px 0px 0px ;
}
.card-1-text{
padding: 16px 20px 0px 20px;
}
.transition_scall{
    transition: all 400ms linear;
}
.card_1:hover .transition_scall{
    transform: scale(1.1);
}
.btn_hover{
padding: 10px 28px;
border-radius:  42px;
max-width: 123px;
backdrop-filter: blur(10px);
background: #01010140;
backdrop-filter: blur(10px);
top: 16px;
left: 16px;
}
.op-50{
    opacity: 50%;
}
.gap-28{
    gap: 28px;
}
.gap-6{
    gap: 6px;
}
.op-90{
    opacity: 90%;
}
.para_2{
    max-width: 327px;
}
.slick-slider{
    margin: 0 -10px;
}
.slick-slide{
margin-right: 10px;
margin-left: 10px;
}
.pt-50{
    padding-top: 50px;
}
.responsive.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slick-slide .div {
    display: flex !important;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-110{
    padding-bottom: 110px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px ;
    height: 12px;
    content: '•';
    text-align: center;
    opacity: 1 !important; 
    color: var(--white) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.box_travel{
    max-width: 582px;
    padding: 29px 50px 31px 50px;
    background: var(--blue);  
    border-radius: 20px; 
}

.gap-99{
    gap: 99px;
}
.pt-26{
    padding-top: 26px;
}
.pt-18{
    padding-top: 18px;
}
.gap-90{
    gap: 90px;
}
.gap-30{
    gap: 30px;
}
 .gap-22{
    gap: 22px;
 }
 .pt-43{
    padding-top: 43px;
 }
.pt-54{
    padding-top: 54px;
}
.pb-130{
    padding-bottom: 130px;
}
.pt-11{
    padding-top: 11px;
}
.group_2{
    max-width: 406px;
}
.card-2-text{
    padding: 20px 0px 0px 24px;
}
.pb-96{
    padding-bottom: 96px;
}
.pb-160{
    padding-bottom: 160px;
}




@media (max-width:1199px) {
    .mobile_view {
        position: fixed;
        background: var(black);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        background-color: #060400;
        z-index: 4;
        

    }

    .menu {
        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--light-blue);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--light-blue);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--light-blue);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0%;
    }
    .flex-col{
        flex-direction: column;
    }    
    .gap-150{
        gap: 20px;
    }
} 
@media (max-width: 768px) {
    .overflow_scroll{
        overflow-x: scroll;
    }
}
@media (max-width: 992px) {
    .pt-110{
        padding-top: 10px;
    }
    .pb-86{
        padding-bottom: 20px;
    }
    .mt-40{
        margin-top: 20px;
    }
    .pt_20{
        padding-top: 20px;
    }
    
}
@media (max-width: 578px) {
    .box_travel{
        padding: 29px 30px 31px 20px;
    }
    
.gap-90{
    gap: 30px;
}
.gap-30{
    gap: 30px;
}
.gap-99{
    gap: 30px;
}
}